<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <clear />
        <add key="RightToLeftLayout" value="yes" />

        <add key="sql.documents.query" 
           value="select Id,DocumentNumber,DocumentType,ExpiryDate
                    from Document 
                order by ExpiryDate ASC" 
            />
        
        <add key="sql.documenttypes.query"
           value="select Id,DocumentTypeName
                    from DocumentType
                order by DocumentTypeName"
            />

        <add key="sql.features.query"
           value="select Id,FeatureName
                    from Feature
                order by FeatureName"
            />

        <add key="sql.words.query"
           value="select Id,WordEnglish,WordArabic
                    from Word
                order by WordEnglish"
            />       

        <add key="sql.enumerations.query"
           value="select Id,EnumerationName
                    from Enumeration
                order by EnumerationName"
            />     
        
        <!-- 
        <add key="Id"               value="معرف" />
        <add key="DocumentNumber"   value="رقم الوثيقة" />
        <add key="DocumentType"     value="نوع الوثيقة" />
        <add key="DocumentTypeName" value="نوع الوثيقة" />
        <add key="ExpiryDate"       value="تاريخ الانتهاء" />
        <add key="RemainingDays"    value="المتبقي بالايام" />
        <add key="FeatureName"      value="اسم الخاصية" />
        <add key="Documents"        value="الوثائق" />

        
        <add key="New"              value="جديد" />
        <add key="Edit"             value="تحرير" />
        <add key="Delete"           value="حذف" />
        <add key="Back"             value="تراجع" />
        <add key="Save"             value="حفظ" />
        <add key="File"             value="ملف" />

        <add key="Error while connecting to Database"  value="خطأ أثناء محاولة الاتصال بقاعدة البيانات" />
        <add key="Document Expiry Tracker Application" value="متتبع تواريخ انتهاء الوثائق" />
        <add key="New Document"                        value="وثيقة جديدة" />
        <add key="Document Feature"                    value="خصائص الوثيقة" />
        <add key="Document Types"                      value="انواع الوثائق" />
        <add key="Features"                            value="الخصائص" />
        <add key="All Document Types"                  value="كل انواع الوثائق" />
        <add key="All Features"                        value="كل الخصائص" />
        <add key="Search"                              value="بحث" />
    -->
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="db" 
             providerName="System.Data.OleDb"
             connectionString="Data Source=|DataDirectory|\db\docexpirydb.mdb;Provider=Microsoft.Jet.OleDb.4.0"
        />
    </connectionStrings>
</configuration>