<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <clear />
        <add key="RightToLeftLayout" value="yes" />

        <add key="sql.documents.query" 
           value="select Id,DocumentNumber,DocumentType,ExpiryDate
                    from Document 
                order by ExpiryDate ASC" 
            />
        
        <add key="sql.documenttypes.query"
           value="select Id,DocumentTypeName
                    from DocumentType
                order by DocumentTypeName"
            />
        
        <!-- Table properties -->
        <add key="Id"               value="معرف" />
        <add key="DocumentNumber"   value="رقم الوثيقة" />
        <add key="DocumentType"     value="نوع الوثيقة" />
        <add key="DocumentTypeName" value="نوع الوثيقة" />
        <add key="ExpiryDate"       value="تاريخ الانتهاء" />
        <add key="RemainingDays"    value="المتبقي بالايام" />

        <!-- General -->
        <add key="New"                                 value="جديد" />
        <add key="Edit"                                value="تحرير" />
        <add key="Delete"                              value="حذف" />
        <add key="Back"                                value="تراجع" />
        <add key="Save"                                value="حفظ" />

        <add key="Error while connecting to Database"  value="خطأ أثناء محاولة الاتصال بقاعدة البيانات" />
        <add key="Document Expiry Tracker Application" value="متتبع تواريخ انتهاء الوثائق" />
        <add key="New Document"                        value="وثيقة جديدة" />
        <add key="Document Attributes"                 value="خصائص الوثائق" />
        <add key="Document Types"                      value="انواع الوثائق" />
        <add key="Search"                              value="بحث" />

    </appSettings>
    <connectionStrings>
        <clear />
        <add name="db" 
             providerName="System.Data.OleDb"
             connectionString="Data Source=.\db\docexpirydb.mdb;Provider=Microsoft.Jet.OleDb.4.0"
        />
    </connectionStrings>
</configuration>